[submodule "modules/bootstrap"]
	path = modules/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "modules/requirejs"]
	path = modules/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "modules/r.js"]
	path = modules/r.js
	url = https://github.com/jrburke/r.js.git
[submodule "modules/almond"]
	path = modules/almond
	url = https://github.com/jrburke/almond.git
[submodule "modules/imagesloaded"]
	path = modules/imagesloaded
	url = http://github.com/desandro/imagesloaded
